*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
api/node_modules/*
app/src/main/res/values/properties.xml
api/data/users.json
app/google-services.json
api/config.js
api/serviceAccountKey.json
